<%if @error_message%>
  <%=@error_message%>
<%end%>
<%=form_tag("/users/login",method: :post)do%>
<p>ユーザー名</p>
<input name ="name">
<p>パスワード</p>
<input name = password type = "password">
<input type = "submit" value ="ログイン">
<%end%>