<head>
    
</head>
<body>
  <div class = "header">
  <h1>VPotal</h1>
    <ul>
      <li>関連</li>
      <li>ワードの</li>
      <li>変数</li>
    </ul>
  </div>
  <div class ="timrline">
    <%=@users.each do |user|%>
    <ul>
      <li>つぶやきの取得公開</li>
    </ul>
    <%end%>
  </div>
  <div class = "menu">
    <div>ログイン</div>
    <div>新規登録</div>
    <div>つぶやく</div>
  </div>
</body>