<!-- ホーム画面というよりヘッダーだね-->
<head>
    
</head>
<body>
  <div class = "header">
  <h1>VPotal</h1>
    <ul>
      <li>関連</li>
      <li>ワードの</li>
      <li>変数</li>
    </ul>
  </div>
  <div class = "menu">
    <div>ログイン</div>
    <div><%=link_to("新規登録","/users/new")%></div>
    <div><%=link_to("つぶやく","/posts/new")%></div>
    <%=link_to("投稿一覧","/posts/index")%>
  </div>
</body>