<div class = show_post>
  <%=link_to("#{@user.name}","/users/#{@post.user_id}")%>
  <p><%=@post.content%></p>
  <p><%=@post.created_at%></p>
  <%=link_to("削除","/posts/destroy/#{@post.id}",{method: :post})%>
</div>